.text-bold {
    font-weight: bold;
}

.modal-dialog {
    overflow-y: initial !important
}
.modal-body {
    height: 420px;
    overflow-y: auto;
}

.input-xs {
    height: 22px; padding: 2px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px;
  }